---
layout: default
---

<div class="home"> 

  <div class="recipes xs-px1 xs-mt2">
    <div class="clearfix">
    {% assign sorted = site.recipes | sort:"date" %}
    {% for post in sorted %}

      <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
          <a class="block relative bg-blue" href="{{ post.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/{{ image }});"{% endfor %}></div>
            <h1 class="title p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
          </a>
      </div>
    {% endfor %}
  </div>
  </div>
  
  <div class="sell bg-blue-tile mt4">
    <div class="clearfix white px2">
      <div class="sm-col md-col-6 px2 md-px4 py2 md-py4">
        <h1>For the home chef</h1>
        <p>Recipes are in alphabetical order.</p>
        <p>Use the search function to narrow down the list.</p>
        <p>Go ahead and share the recipes with everyone!</p>
      </div>
      <div class="sm-col md-col-6 px2 md-px4 py2 md-py4">
        <h1>For the contributor</h1>
        <p>Send me a link to the recipe</p>
        <p>Add any personal modifications you made to the recipe</p>
        <p>Provide a personal rating of the dish (*/5)</p>
      </div>
    </div>
    <div class="clearfix white center">
      <a href="https://beallen.github.io/chowdown/search" class="button button-big button-with-icon button-outline mb4 h2">
            <svg class="js-geomicon geomicon" width="30" data-icon="search" viewBox="0 0 32 32" style="fill:currentcolor"><title>search icon</title><path d="M12 0 A12 12 0 0 0 0 12 A12 12 0 0 0 12 24 A12 12 0 0 0 18.5 22.25 L28 32 L32 28 L22.25 18.5 A12 12 0 0 0 24 12 A12 12 0 0 0 12 0 M12 4 A8 8 0 0 1 12 20 A8 8 0 0 1 12 4"></path></svg>
          Search</a>
      </div>
  </div>
  
  <div class="container mt4 mb4">
    <div class="sm-col-6 mx-auto px3 sm-px4">
  <p>Hey folks!</p>
  
  <p>You've just stumbled into my personal <strong>Chowdown</strong>, a plain text recipe database. The purpose of this <strong>Chowdown</strong> is to track recipes that either myself, or my friends have cooked over the years. </p>
  
  <p>Happy cooking!</p>
  
  </div>
  </div>

</div>
